# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Logs
logs
*.log
app.log
debug.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# SSH keys
*.pem
*.pub
.ssh/

# Python cache (if any)
__pycache__/
*.pyc

# Terraform files (ignore infra configs)
IaC-Terraform/
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# VS Code / IDE settings
.vscode/
.idea/

# Build artifacts / archives
*.tar.gz
*.zip
dist/
build/
